
<div class="panel panel-success ">
    <div class="panel-heading text-center">
        <h4>
            <span class="badge" style="font-size:large">1</span>
            Envoyez nous votre catalogue de produits
        </h4>
    </div>
</div>


<div class="row">
    <div class="col text-center" style="margin-top:10px">
        @using (Html.BeginForm("PostFichier", "UploadCatalogue", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <input type="file" name="file" id="file" accept="csv, xls, xlsx" />
                <p class="help-block">Formats de fichier acceptés : CSV, XLS et XLSX</p>
                <input type="submit" value="Envoyer" class="btn btn-success" />
            </div>
            <span style="color:green">@Html.Raw(ViewBag.Message)</span>
            <span style="color:red">@Html.Raw(ViewBag.ErreurFormat)</span>
            <span style="color:red">@Html.Raw(ViewBag.PasDeFichier)</span>
        }
    </div>
</div>

<div class="panel panel-success ">
    <div class="panel-heading text-center">
        <h4>
            <span class="badge" style="font-size:large">2</span>
            Envoyez nous votre archive d'images
        </h4>
    </div>
</div>

<div class="row">
    <div class="col text-center" style="margin-top:10px">
        @using (Html.BeginForm("PostArchiveImg", "UploadCatalogue", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <input type="file" name="imagesZip" id="file" />
                <input type="submit" value="Envoyer" class="btn btn-success" />
            </div>
            <span style="color:green">@Html.Raw(ViewBag.MessageZip)</span>
            <span style="color:red">@Html.Raw(ViewBag.Erreur)</span>


        }
    </div>
</div>
<br />

<div class="panel panel-success ">
    <div class="panel-heading text-center">
        <h4>
            <span class="badge" style="font-size:large">3</span>
            Traitement des champs du fichier
        </h4>
    </div>
</div>

<div class="row">
    <div class="col text-center" style="margin-top:10px">
        <button type="button" class="btn btn-success"  onclick="location.href='@Url.Action("MappingChamps", "UploadCatalogue")'">Correspondance des champs</button>
    </div>
</div>

<a href="@Url.Action("Index", "Produits")"><span class="glyphicon glyphicon-arrow-left"></span></a>
<a href="@Url.Action("Index", "Produits")"> Retour aux produits</a>
