@model PagedList.IPagedList<WebApplication6.Models.F_COMPTET>
@using PagedList.Mvc

@{
    ViewBag.Title = "Fournisseurs";
}

<div class="container">
    <div class="row">
        <div class="col-xs-3 form-inline">
            <h2 style="color : darkgreen"><b>Fournisseurs</b></h2>
        </div>
    </div>
</div>

<table class="table table-striped table-hover list-group">
    <tr style="color:darkgreen">

        <th>
            Identifiant fournisseur
        </th>
        <th>
            N° commande
        </th>
        <th>
            &nbsp;
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="cursor: pointer" onclick="location.href='@(Url.Action("SuiviCommandesAdmin", new { id = item.CT_Num }))'">

            <td>
                @Html.DisplayFor(modelItem => item.CT_Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT_Intitule)
            </td>
            <td>
                <a href="/Manage"><span class="glyphicon glyphicon-file"></span></a>
                @Html.ActionLink("Commandes", "SuiviCommandesAdmin", new { id = item.CT_Num })
            </td>
        </tr>
    }

</table>

<span class="text-info">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) sur @Model.PageCount</span>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
