@model IEnumerable<WillemseFranceMP.Models.ApplicationUser>
@using PagedList.Mvc
@{
    ViewBag.Title = "Fournisseurs";
}
<div class="container">
    <br /><br />
    <h2 style="color:darkgreen;">@ViewBag.Title</h2>
    <br/>
    <div>
        <!-- Liste des fournisseurs -->
@{
    if (Model.Count() == 0)
    {
        <table class="table table-hover">
            <tr>
                <th>
                    Id Fournisseur
                </th>
                <th>
                    Société
                </th>
                <th>

                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            <tr><td colspan="5"><p class="text-danger">Aucun fournisseur inscrit!</p></td></tr>
        </table>
    }
    else
    {
        <table class="table table-hover">
            <tr>
                <th style="color:darkgreen;">
                    Id Fournisseur
                </th>
                <th style="color:darkgreen;">
                    Société
                </th>
                <th>

                </th>
                <th style="color:darkgreen;">
                    &nbsp;
                </th>
                <th style="color:darkgreen;">
                    &nbsp;
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr style="cursor: pointer;" onclick="location.href = '@(Url.Action("ValidFouFinal", new { id = item.Id }))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.IdFou)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Societe)
                    </td>
                    <td>
                        <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
                        @Html.ActionLink("Produits", "Validpro", new { recherche = item.IdFou })
                    </td>
                    <td>
                        @if (ViewBag.Message == "p")
                        {
                            if (item.ACTIVE == "Oui")
                            {
                                <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                                @Html.ActionLink("Désactiver", "DesactiveFou", new { idfou = item.IdFou }, new { onclick = "return confirm('Voulez-vous désactiver le compte de " + item.Nom + "?')" })

                            }
                            else
                            {
                                <a href="#"><span class="glyphicon glyphicon-ok"></span></a>
                                @Html.ActionLink("Activer", "ActiveFou", new { idfou = item.IdFou }, new { onclick = "return confirm('Voulez-vous activer le compte de " + item.Nom + "?')" })
                            }
                        }
                     </td>
                </tr>
            }
        </table>
        }
    }


    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function details(fou) {
            window.location = '/Admin/ValidFouFinal?id=' + fou;
        }
        $("#pageFournisseurs").addClass('active');
    </script>
 }


