<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Portail fournisseur Willemse</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home", routeValues: null)">
                    <img alt="Brand" src="~/Content/Images/logo-willemse-france-2018.png">
                </a>

            </div>
            @*
                @if (Request.IsAuthenticated && (!User.IsInRole("Admin")))
                {
                    <ul class="nav navbar-nav">
                        <li>
                            <button type="button" class="btn navbar-btn btn-success btn-lg" onclick="location.href='@Url.Action("Index", "Produits")'">Catalogue de produits</button>
                        </li>
                        <li>
                            <button type="button" class="btn navbar-btn btn-success btn-lg" style="margin-left : 10px" onclick="location.href='@Url.Action("Index", "Commandes")'">Suivi des commandes</button>
                        </li>
                    </ul>
                }

                else if (User.IsInRole("Admin") && Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>
                            <button type="button" class="btn navbar-btn btn-success btn-lg" onclick="location.href='@Url.Action("Index", "Admin")'">Interface administrateur</button>
                        </li>
                    </ul>
                }
            *@
            <div class="navbar navbar-header navbar-right">
                @Html.Partial("_LoginPartial")
            </div>



        </div>
    </nav>

    <div class="container body-content">
        <br />


        @RenderBody()

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - Portail fournisseur - Willemse France</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
<style>

    .navbar-brand {
        width: 50px;
        font-size: 24px;
    }

        .navbar-brand img {
            height: 60px;
            /* put value of image height as your need */
            /*float: left;*/
            margin-right: 7px;
        }

    .navbar {
        min-height: 70px;
    }

    .navbar-nav {
        margin-left: 450px;
        margin-top: 15px;
    }

    .navbar-right {
        margin-right: 10px;
    }
</style>